
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<h4>Student Id viewdata: @ViewData["id"]</h4>
<h4>Student Id viewbag: @ViewBag.Id</h4>
<h4>Student Id tempdata: @TempData["id"]</h4>

<h4>Student Groupno viewbag: @ViewBag.Groupno</h4>